body{
	background-color: #309DD1;
	font-family: 'Nunito', sans-serif;
	color:white;
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 40px;
}
body>.background{
	position: absolute;
	inset:0;
	background-image: url("img/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter:blur(4px);
}
body>.content{
	display:flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	position: relative;
}
body>.content.wide{
	align-self: stretch;
}
body>div>.card{
	max-width: 800px;
	padding:0 20px;
	margin:50px 20px;
	margin-bottom: 0;
	padding: 20px;
	border-radius: 20px;
	background-color: #00000080;
}
p{
	font-size:20px;
	margin:20px 0;
	text-align: center;
	line-height: 1.25em;
}
b{
	font-weight: 900;
	font-size: 1.1em;
}
.warning{
	border-radius: 10px;
	padding:10px;
	border:4px dashed #cc5151ff;
}
li{
	font-size:20px;
}
h1{
	display:none;
}
.titleImg{
	margin-top:50px;
	display: flex;
	justify-content: center;
}
.titleImg>img{
	max-width: 80vw;
}
h2{
	font-size:30px;
	margin:20px 0;
	text-align: center;
}
button{
	background: none;
}
.playOptions{
	display:flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
}
.play{
	min-width: 300px;
	flex-basis: 0;
	flex-grow:1;
	box-sizing: border-box;
	margin-top:40px;
	border-top:4px solid black;
	border-bottom:4px solid black;
}
.play>div{
	box-sizing: border-box;
	min-height: 580px;
	padding:10px;
	padding-bottom: 50px;
	border:2px solid black;
	border-top:none;
	border-bottom:none;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #00000080;
	transition: background-color .1s, box-shadow .2s;
}
.play>div:hover{
	background-color: #40404080;
	box-shadow: 0 0 30px #00000080;
}
.play .title{
	font-family: 'Fredoka One', sans-serif;
	font-size:40px;
	position: absolute;
	top:-52px;
	padding:5px 20px;
	border-radius: 100px;
	background-color: #000000;
}
.play ul{
	margin-top:40px;
	height:100px;
}
.play ul>li{
	margin:0;
	margin-bottom: 10px;
}
.googlePlay img{
	max-width: 200px;
}
.playOr{
	font-family: 'Fredoka One', sans-serif;
	font-size:20px;
	margin:0;
}
.images{
	user-select: none;
	display:flex;
	justify-content: center;
	overflow: hidden;
	margin-top: -60px;
	margin-bottom: -40px;
	z-index: 1;
}
.images>div{
	max-height:300px;
	min-height:300px;
	max-width:400px;
	min-width:400px;
	background-position: center;
	background-size: cover;
	
	box-shadow: 0 0 13.36200832951853px #00000080;
	border-radius: 10px;
	margin:20px;
}
.buttonClickable{
	margin-top:20px;
	margin-bottom:20px;
	position: relative;
	padding: 0;
	border: none;
	border-radius: 100px;
	background-color: #2d9938;
	box-shadow: 0 0 13.36200832951853px #00000080;
}
.buttonClickable .surface{
	width: 100px;
	background-color: #3dcc4b;
	font-family: 'Nunito', sans-serif;
	font-weight:900;
	font-size: 20px;
	color: white;
	border: none;
	padding: 10px 30px;
	border-radius: 100px;
	position: relative;
	bottom: 10px;
	transition: bottom 0.1s;
	display:flex;
	justify-content: center;
	align-items: center;
}
.buttonClickable:active .surface{
	bottom: 4px;
}
.buttonClickable:active .selector{
	bottom: -12px;
}
a{
	color:#3dcc4b;
	text-decoration: underline;
	font-weight: 700;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color:#3dcc4b;
}