body{
	overflow: hidden;
	background-color:white;
	font-family: 'Nunito', sans-serif;
}
#canvasContainer{
	position: absolute;
	top:0;
	width: 100vw;
	height: 100vh;
}
#c{
	display: block;
	position: absolute;
	top:0;
	width: 100vw;
	height: 100vh;
}
canvas{
	image-rendering: pixelated;
}
button{
	user-select: none;
}
.hidden{
	display:none;
}